name: Update Cydia Packages

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Install dpkg-dev
        run: sudo apt-get update && sudo apt-get install -y dpkg-dev

      - name: Generate Packages
        run: |
          cd repo
          dpkg-scanpackages -m debs /dev/null > Packages
          bzip2 -f -k Packages

      - name: Commit changes
        run: |
          git config --global user.name "github-actions"
          git config --global user.email "github-actions@github.com"
          git add repo/Packages repo/Packages.bz2
          git commit -m "Update Packages" || echo "No changes"
          git push
